<div>
  <label for="position_title">Title: </label>
  <br>
  <input id="position_title" name="position[title]" type="text" value="<%= @position.title %>">
</div>

<div>
  <label for="position_description">Description: </label>
  <br>
  <textarea id="position_description" name="position[description]" type="text" rows="6" cols="30"><%= @position.description %></textarea>
</div>
