<div>
  <label for="position_title">Position Title: </label>
  <input id="position_title" name="position[title]" type="text" value="<%= @position.title %>">
</div>

<div>
  <label for="position_description">Description: </label>
  <input id="position_description" name="position[description]" type="text" value="<%= @position.description %>">
</div>
