<div class="position_list">
  <a href="/positions/<%= position.id %>">
    <p>Company: <%= position.company.name %></p>
    <p>Title: <%= position.title %></p>
    <p>Description: <%= position.description %></p>
  </a>
</div>
