<div class="position_list">
  <a href="/positions/<%= position.id %>">
    <ul>
      <li>Company: <%= position.company.name %></li>
      <li>Title: <%= position.title %></li>
    </ul>
  </a>
</div>
