<h3>List of current positions</h3>

<div class="links">
  <a href="/positions/new">List a new position</a>
</div>

<div id="position_list">
  <% @positions.each do |position| %>
  <ul>
    <li>Company: <%= position.company.name %></li>
    <li>Title: <%= position.title %></li>
    <li>Description: <%= position.description %></li>
    <%= erb(:"positions/_authorized_menu", layout: false, locals: { position: position }) unless session[:user].nil? %>
  </ul>
  <% end %>
</div>
