<h3>List of current positions</h3>

<div class="links">
  <a href="/positions/new">List a new position</a>
</div>

<% @positions.each do |position| %>
  <%= erb :"positions/_position_info" %>
<% end %>
