<h3>List of current positions</h3>

<div id="position_list">
  <% @positions.each do |position| %>
  <ul>
    <li>Company: <%= position.company.name %></li>
    <li>Title: <%= position.title %></li>
    <li>Description: <%= position.description %></li>
    <li><%= erb :"positions/_delete", layout: false, locals: { position: position } %></li>
  </ul>
  <% end %>
</div>
