<h1>Positions for Hire</h1>

<% if @is_recruiter %>
  <div class="links">
    <a href="/positions/new">List a new position</a>
  </div>
<% end %>

<% @positions.each do |position| %>
  <a href="/positions/<%= position.id %>">
    <%= erb :"positions/_position_info", layout: false, locals: { position: position } %>
  </a>
<% end %>
