<style>
  form { padding: 10px; }
  div { padding: 5px; }
</style>

<p class="register_prompt"><b>Recruiters:</b> List the position you're hiring for by filling out all the fields below.</p>

<div class="register">
  <form action="/positions" method="post">
    <%= erb :"positions/_form_fields", layout: false %>
    <div id="company_not_found">
      Don't see your company? Create a new one <a href="/companies/new">here.</a>
    </div>
    <div>
      <input name="commit" type="submit" value="Create Position">
    </div>
  </form>
</div>
