<style>
  form { padding: 10px; }
  div { padding: 5px; }
</style>

<h1>Interview for <%= @interview.application.position.title %></h1>
<h3>At <%= @interview.application.position.company.name %></h3>

<%= erb :"interviews/_interview_info", layout: false, locals: { interview: @interview } %>
