<form action="/applications/new" method="post">
  <input id="application_resume" name="application[resume]" type="hidden" value="">
  <input id="application_position" name="application[position]" type="hidden" value="">
  <input name="commit" type="submit" value="Apply for Position">
</form>
