<h3>List of current applications</h3>

<div id="application_list">
  <% @applications.each do |application| %>
    <ul>
      <li>Applicant ID: <%= application.resume.applicant_id %></li>
      <li>Position Company: <%= application.position.company.name %></li>
      <li>Position Title: <%= application.position.title %></li>
      <li><%= erb :"applications/_delete", layout: false, locals: { application: application } %></li>
    </ul>
  <% end %>
</div>
