<div>
  <label for="applicant_first_name">First Name:</label>
  <br>
  <input id="applicant_first_name" name="applicant[first_name]" type="text" value="<%= @applicant.first_name %>">
</div>
<div>
  <label for="applicant_last_name">Last Name:</label>
  <br>
  <input id="applicant_last_name" name="applicant[last_name]" type="text" value="<%= @applicant.last_name %>">
</div>
<div>
  <label for="applicant_email">Email:</label>
  <br>
  <input id="applicant_email" name="applicant[email]" type="text" value="<%= @applicant.email %>">
</div>
