<h3>List of current applicants</h3>

<div id="applicant_list">
  <% @applicants.each do |applicant| %>
    <ul>
      <li><%= "#{applicant.first_name} #{applicant.last_name}" %></li>
      <li>Email: <%= applicant.email %></li>
    </ul>
  <% end %>
</div>
