<style>
  form { padding: 10px; }
  div { padding: 5px; }
</style>

<h1>New Applicant</h1>

<p class="register_prompt">Register by completing all the fields below.</p>

<div class="register">
  <form action="/applicants" method="post">
    <%= erb :"applicants/_form_fields", layout: false %>
    <div>
      <label for="applicant_password">Password:</label>
      <br>
      <input id="applicant_password" name="applicant[password]" type="password">
    </div>
    <div>
      <label for="confirm_password">Confirm Password:</label>
      <br>
      <input id="confirm_password" name="applicant[password_confirmation]" type="password">
    </div>
    <div>
      <input name="commit" type="submit" value="Register Applicant">
    </div>
  </form>
</div>
