<style>
  form { padding: 10px; }
  div { padding: 5px; }
</style>

<h1>Register a Company</h1>

<p class="register_prompt"><b>Recruiters:</b> Register a company to Nameless by filling out the form below.</p>

<div class="register">
  <form action="/companies" method="post">
    <%= erb :"companies/_form_fields", layout: false %>
    <div>
      <input name="commit" type="submit" value="Register Company">
    </div>
</div>
