<style>
  form { padding: 10px; }
  div { padding: 5px; }
</style>

<p class="register_prompt"><b>Recruiters:</b> Register a company for The Real You by filling out the form below.</p>

<div class="register">
  <form action="/companies" method="post">
    <div>
      <label for="company_name">Name: </label>
      <input id="company_name" name="company[name]" type="text">
    </div>
    <div>
      <input name="commit" type="submit" value="Register Company">
    </div>
</div>
