<div class="login_status">
  <p>
    <%= @invalid unless @invalid.nil? %>
  </p>
  <p>
    <% if session[:user] %>
      <%= "#{session[:message]} " %><a href='/logout'>Logout</a>
    <% else %>
      Not logged in. <a href="/looking">Applicants</a> <a href="/hiring">Recruiters</a>
    <% end %>
  </p>
</div>
