<p>
  <a href="/applications">Pending Applications</a>
</p>
<p>
  <a href="/positions">Available Positions</a>
</p>
<p>
  <a href="/companies">Listed Companies</a>
</p>
<p>
  <a href="/">Landing Page</a>
</p>
