<div class="links">
  <p>
    <a href="/positions">Available Positions</a>
  </p>

  <% if @is_applicant %>
    <p>
      <a href="/applicants/<%= session[:user].id %>">Your Applicant Profile</a>
    </p>
    <p>
      <a href="/looking">Looking Home</a>
    </p>
  <% end %>

  <% if @is_recruiter %>
    <p>
      <a href="/recruiters/<%= session[:user].id %>">Your Recruiter Profile</a>
    </p>
    <p>
      <a href="/hiring">Hiring Home</a>
    </p>
  <% end %>

  <p>
    <a href="/logout">Landing Page (Logout)</a>
  </p>
</div>
