<div class="links">
  <p>
    <a href="/applications">Pending Applications</a>
  </p>
  <p>
    <a href="/positions">Available Positions</a>
  </p>
  <p>
    <a href="/looking">Looking Home</a>
  </p>
  <p>
    <a href="/hiring">Hiring Home</a>
  </p>
  <p>
    <a href="/">Landing Page</a>
  </p>
</div>
