<div class="links">
  <% if session[:user].instance_of?(Applicant) %>
    <p>
      <a href="/applicants/<%= session[:user].id %>">Your Applicant Profile</a>
    </p>
  <% end %>

  <% if session[:user].instance_of?(Recruiter) %>
    <p>
      <a href="/recruiters/<%= session[:user].id %>">Your Recruiter Profile</a>
    </p>
  <% end %>

  <p>
    <a href="/positions">Positions For Hire</a>
  </p>

  <p>
    <a href="/logout">Landing Page (Logout)</a>
  </p>
</div>
