<h1>Hiring</h1>

<% unless @is_recruiter %>

  <p class="register_prompt">
    New Recruiters: Click here to <a href="/recruiters/new">register.</a>
  </p>
  <p class="login_prompt">Returning Recruiters: Login with your email and password below.</p>

  <div class="login">
    <form action="/hiring/login" method="post">
      <div>
        <label for="recruiter_email">Email: </label>
        <input id="recruiter_email" name="recruiter[email]" type="text">
      </div>
      <div>
        <label for="recruiter_password">Password: </label>
        <input id="recruiter_password" name="recruiter[password]" type="password">
      </div>
      <div>
        <input name="commit" type="submit" value="Login">
      </div>
    </form>
  </div>

<% else %>

  <div class="links">
    <p>
      <a href="/positions/new">List a Position for Hire</a>
    </p>
  </div>

<% end %>
