<style>
  form { padding: 10px; }
  div { padding: 5px; }
</style>

<h1>Hiring Homepage</h1>

<% unless session[:user].instance_of? Recruiter %>

  <p class="login_prompt">Recruiters: Login with your email and password below.</p>
  <p class="register_prompt">
    New recruiters: Click here to <a href="/recruiters/new">register</a>
  </p>

  <div class="login">
    <form action="/hiring/login" method="post">
      <div>
        <label for="recruiter_email">Recruiter Email: </label>
        <input id="recruiter_email" name="recruiter[email]" type="text">
      </div>
      <div>
        <label for="recruiter_password">Password: </label>
        <input id="recruiter_password" name="recruiter[password]" type="password">
      </div>
      <div>
        <input name="commit" type="submit" value="Login">
      </div>
    </form>
  </div>

<% end %>

<div class="links">
  <p>
    <a href="/positions/new">List a Position for Hire</a>
  </p>
  <% if session[:user].instance_of? Recruiter %>
    <p>
      <a href="/positions?recruiter_id=<%= session[:user].id %>">View your Listed Positions</a>
    </p>
  <% end %>
</div>
