<h1>Looking Homepage</h1>

<p class="login_prompt">Applicants: Login with your email and password below.</p>

<div class="login">
  <form action="/login" method="post">
    <div>
      <label for="applicant_email">Email</label>
      <input id="applicant_email" name="applicant[email]" type="text">
    </div>
    <div>
      <label for="applicant_password">Password</label>
      <input id="applicant_password" name="applicant[password]" type="text">
    </div>
  </form>
</div>
