<style>
  form { padding: 10px; }
  div { padding: 5px; }
</style>

<h1>Looking Homepage</h1>

<p class="login_prompt">Returning applicants: Login with your email and password below.</p>
<p class="register_prompt">
  New applicants: Click here to <a href="/applicants/new">register</a>
</p>

<div class="login">
  <form action="/looking/login" method="post">
    <div>
      <label for="applicant_email">Email</label>
      <input id="applicant_email" name="applicant[email]" type="text">
    </div>
    <div>
      <label for="applicant_password">Password</label>
      <input id="applicant_password" name="applicant[password]" type="text">
    </div>
    <div>
      <input name="commit" type="submit" value="Login">
    </div>
  </form>
</div>

<%= erb :_login_status, layout: false %>
