<style>
  form { padding: 10px; }
  div { padding: 5px; }
</style>

<h1>Upload Resume</h1>

<p class="register_prompt"><b>Applicants:</b> Upload your resume below.</p>

<div id="unwanted_items">
  <p>Do NOT include the following items in your resume:</p>
  <ul>
    <li>Your name</li>
    <li>Your birthday</li>
    <li>Where you grew up</li>
    <li>A picture of yourself</li>
  </ul>
</div>

<% if @is_applicant %>
  <div class="register">
    <form action="/resumes" method="post" enctype="multipart/form-data">
      <div>
        <label for="resume_upload">Select a file: </label>
        <input id="resume_file" name="file" type="file">
        <input type="hidden" name="resume[applicant_id]" value="<%= @applicant.id %>">
      </div>
      <div>
        <input name="commit" type="submit" value="Upload Resume">
      </div>
    </form>
  </div>
<% end %>
