<div>
  <label for="recruiter_first_name">First Name</label>
  <input id="recruiter_first_name" name="recruiter[first_name]" type="text">
</div>
<div>
  <label for="recruiter_last_name">Last Name</label>
  <input id="recruiter_last_name" name="recruiter[last_name]" type="text">
</div>
<div>
  <label for="recruiter_email">Email</label>
  <input id="recruiter_email" name="recruiter[email]" type="text">
</div>
