<p class="register_prompt">Recruiters: Edit your profile using the fields below.</p>

<div class="register">
  <form action="/recruiters/<%= @recruiter.id %>" method="post">
    <%= erb :"recruiters/_form_fields", layout: false %>
    <div>
      <input name="commit" type="submit" value="Update Profile">
    </div>
  </form>
</div>
