<style>
  form { padding: 10px; }
  div { padding: 5px; }
</style>

<p class="register_prompt">Recruiters: Register by completing all the fields below.</p>

<div class="register">
  <form action="/recruiters" method="post">
    <%= erb :"recruiters/_form_fields", layout: false %>
    <div>
      <label for="recruiter_password">Password</label>
      <input id="recruiter_password" name="recruiter[password]" type="text">
    </div>
    <div>
      <input name="commit" type="submit" value="Register recruiter">
    </div>
  </form>
</div>
