<style>
  form { padding: 10px; }
  div { padding: 5px; }
</style>

<p class="register_prompt">Recruiters: Register by completing all the fields below.</p>

<div class="register">
  <form action="/recruiters" method="post">
    <div>
      <label for="recruiter_first_name">First Name</label>
      <input id="recruiter_first_name" name="recruiter[first_name]" type="text">
    </div>
    <div>
      <label for="recruiter_last_name">Last Name</label>
      <input id="recruiter_last_name" name="recruiter[last_name]" type="text">
    </div>
    <div>
      <label for="recruiter_email">Email</label>
      <input id="recruiter_email" name="recruiter[email]" type="text">
    </div>
    <div>
      <label for="recruiter_password">Password</label>
      <input id="recruiter_password" name="recruiter[password]" type="text">
    </div>
    <div>
      <input name="commit" type="submit" value="Register recruiter">
    </div>
  </form>
</div>
